*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
/pkg/
.vagrant/
*.backup
*.bak
*.orig
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.~vsd
site/
*-inventory
autogen/spec
autogen/src
autogen/proto
*.pem
*.csr
